################################################################################
# TOMCAT MANAGEMENT
################################################################################

# Enable the Tomcat management interfaces
# They are located at these URLs: "/manager/html" and "/host-manager/html"
use_tomcat_admin=false

# Configure the username and password for the Tomcat management interface
tomcat_admin_user=tomcat
tomcat_admin_pass=tomcat

################################################################################
# TLS ENCRYPTION
################################################################################

# Enable TLS encryption
# If this is turned on, URLs must be accessed with "https" instead of "http"
use_tls=false

# Configure the TLS encryption keystore
# Note: the keystore file must be located in the "docker/tls/" folder, which
# is copied into the container at build time
tls_keystore_file=keystore.p12
tls_keystore_pass=password
tls_keystore_type=PKCS12
tls_key_alias=myalias

# Configure the TLS encryption protocol(s) and cipher(s)
tls_protocols=TLSv1.1, TLSv1.2
tls_ciphers=TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256, TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA, TLS_RSA_WITH_AES_128_CBC_SHA256, TLS_RSA_WITH_AES_128_CBC_SHA

################################################################################
# PROXY OPTIONS
################################################################################

# Enable proxy
use_proxy=false

# Configure proxy
proxy_host=example.com
proxy_port=80

################################################################################
# CARESHARE OPTIONS
################################################################################

# This is actually used for CareAuth as well; determines Node-specific settings
NODE_ENV=production

################################################################################
# CAREAUTH OPTIONS
################################################################################

# NOTE: inherits "use_tls" from above TLS settings

# Port for the CareAuth proxy to listen on
port=80

# Domain that the CareShare site uses (don't include protocol or port)
domain=vacareshare.org

# Targets to proxy connections for the server's subdomains
# If these are empty, the targets will be auto-generated based on the
#   domain and port that those services listen on by default
# If these are non-empty, they MUST be formatted as a valid URL,
#   e.g. 'http://example.com/route'
proxy_careshare=http://careshare:4200
proxy_careshare_remote=http://careshare-remote:4200
proxy_fhir=http://fhir:8080/baseDstu2
proxy_openid=http://openid:8080
proxy_api=http://localhost:3001

# Name of admin user to be generated by "create-admin" script
admin_user=admin@mitre.org

# Password of admin to be generated by "create-admin" script
# Leaving this blank will generate a random password
#admin_password=passw0rd

# Client ID; this website must be registered with the OpenID Connect provider
# Example: 'f5068d45-c3d2-4ed2-91cf-cbfcfd79ba81'
openid_client_id=client

# Client Secret; this website must be registered with the OpenID Connect provider
# Example: 'AIet9EHpSGRAhhhIElxrJRPXLCGOKN2viG1EwB6jxTKuQeCbLpxX95jAFtILqNPIkgIt29Q4Xgqthq9K8mXJpPo'
openid_client_secret=mv42@C0n?

# URL of the production Mongo database
db_production=mongodb://mongo/careauth_production_db

# URL of the test Mongo database
db_test=mongodb://mongo/careauth_test_db

################################################################################
# OPENID OPTIONS
################################################################################

# Set the "issuer" for this OpenID server; must be the full root URL of the server
openid_issuer=http://openid.vacareshare.org/

